{:paths ["src" "test"]
 :deps  {org.clojure/clojure            {:mvn/version "1.12.1"}
         org.clojure/data.xml           {:mvn/version "0.0.8"}
         party.donut/system             {:mvn/version "1.0.257"}
         io.github.nextjournal/markdown {:mvn/version "0.7.189"}
         aero/aero                      {:mvn/version "1.1.6"}
         http-kit/http-kit              {:mvn/version "2.9.0-beta1"}
         metosin/reitit-core            {:mvn/version "0.9.1"}
         metosin/reitit-ring            {:mvn/version "0.9.1"
                                         :exclusions  [metosin/muuntaja]}
         com.cnuernber/charred          {:mvn/version "1.037"}
         dev.data-star.clojure/sdk      {:mvn/version "1.0.0-RC1"}
         dev.data-star.clojure/http-kit {:mvn/version "1.0.0-RC1"
                                         :exclusions  [http-kit/http-kit]}
         dev.data-star.clojure/brotli   {:mvn/version "1.0.0-RC1"}
         com.datomic/peer               {:mvn/version "1.0.7394"
                                         :exclusions  [com.amazonaws/aws-java-sdk-core
                                                       com.amazonaws/aws-java-sdk-ec2
                                                       com.google.guava/guava
                                                       commons-io/commons-io
                                                       org.slf4j/log4j-over-slf4j
                                                       org.slf4j/jcl-over-slf4j
                                                       org.slf4j/jul-to-slf4j]}
         org.slf4j/slf4j-nop            {:mvn/version "2.0.17"}
         dev.weavejester/medley         {:mvn/version "1.8.1"}
         dev.onionpancakes/chassis      {:mvn/version "1.0.365"}}
 :aliases
 {:dev   {:extra-deps  {djblue/portal               {:mvn/version "0.60.2"}
                        io.github.tonsky/clj-reload {:mvn/version "0.9.8"}
                        juxt/dirwatch               {:mvn/version "0.2.5"}}
          :extra-paths ["dev"]
          :jvm-opts    ["-Duser.timezone=UTC"
                        "-XX:+UseZGC"
                        "--enable-native-access=ALL-UNNAMED"]}
  :test  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
  :run-m {:main-opts ["-m" "site.server"]}
  :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.9"
                                                      :git/sha "e405aac"}
                       babashka/process              {:mvn/version "0.6.23"}}
          :ns-default build}
  :neil  {:project {:name    "site"
                    :version "2.0.0"}}}}
