{:paths ["src" "test"]
 :deps  {org.clojure/clojure            {:mvn/version "1.12.0"}
         org.clojure/data.xml           {:mvn/version "0.0.8"}
         party.donut/system             {:mvn/version "1.0.255"}
         io.github.nextjournal/markdown {;; :mvn/version "0.6.157"
                                         :git/url "https://github.com/nextjournal/markdown"
                                         :git/sha "5829ec101331b1702841094f4dc897ee46f0ddcd"}
         aero/aero                      {:mvn/version "1.1.6"}
         datastar/sdk                   {:git/url   "https://github.com/starfederation/datastar/"
                                         :git/sha   "04857cbd09bca12e3582c42124c16a29c16c89c5"
                                         :deps/root "sdk/clojure/sdk"}
         datastar/adapter-http-kit      {:git/url   "https://github.com/starfederation/datastar/"
                                         :git/sha   "04857cbd09bca12e3582c42124c16a29c16c89c5"
                                         :deps/root "sdk/clojure/adapter-http-kit"}
         metosin/reitit                 {:mvn/version "0.9.1"}
         metosin/jsonista               {:mvn/version "0.3.13"}
         com.datomic/peer               {:mvn/version "1.0.7364"
                                         :exclusions  [com.amazonaws/aws-java-sdk-core
                                                       com.amazonaws/aws-java-sdk-ec2
                                                       com.google.guava/guava]}
         dev.weavejester/medley         {:mvn/version "1.8.1"}
         ;; org.clojure/tools.cli
         ;; org.slf4j/slf4j-nop
         ;; org.slf4j/slf4j-api
         ;; org.slf4j/jcl-over-slf4j

         dev.onionpancakes/chassis {:mvn/version "1.0.365"}}
 :aliases
 {:dev   {:extra-deps  {djblue/portal               {:mvn/version "0.59.1"}
                        io.github.tonsky/clj-reload {:mvn/version "0.9.7"}
                        juxt/dirwatch               {:mvn/version "0.2.5"}}
          :extra-paths ["dev"]
          :jvm-opts    ["-Duser.timezone=UTC"
                        "-XX:+UseZGC"
                        ;; ZGenerational will be the default in future
                        ;; so this won't need to be specified
                        "-XX:+ZGenerational"]}
  :test  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
  :run-m {:main-opts ["-m" "site.server"]}
  :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.9"
                                                      :git/sha "e405aac"}
                       slipset/deps-deploy           {:mvn/version "0.2.2"}}
          :ns-default build}
  :neil  {:project {:name    "site"
                    :version "2.0.0"}}}}
