@import "tailwindcss";
@import "./prism.css" layer(components);
@import "./inter.css";
@plugin '@tailwindcss/typography';
@config '../../typography.js';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Outskirts Labs brand colors */
  --color-dark-liver: #524b47;
  --color-dark-orange: #b54726;
  --color-ol-orange: #e76227;
  --color-turquoise: #21b899;
  --color-ol-gray: #201e1d;
  --color-ol-light-gray: #88837c;
  --color-ol-brown: #3f1f10;
  --color-gutentag: #d9564a;
  --color-ol-turquoise-50: oklch(97.4% 0.019 184.93);
  --color-ol-turquoise-100: oklch(94.92% 0.037 182.07);
  --color-ol-turquoise-200: oklch(90.68% 0.069 181.32);
  --color-ol-turquoise-300: oklch(86.56% 0.102 179.02);
  --color-ol-turquoise-400: oklch(83.12% 0.124 177.57);
  --color-ol-turquoise-500: oklch(79.76% 0.141 175.15);
  --color-ol-turquoise-600: oklch(70.13% 0.127 174.17); /* original */
  --color-ol-turquoise-700: oklch(56.86% 0.101 175.42);
  --color-ol-turquoise-800: oklch(42.36% 0.074 175.41);
  --color-ol-turquoise-900: oklch(27.97% 0.045 176.26);
  --color-ol-turquoise-950: oklch(18.26% 0.027 177.49);
  --color-ol-orange-50: oklch(96.84% 0.014 46.23);
  --color-ol-orange-100: oklch(93.48% 0.029 45.03);
  --color-ol-orange-200: oklch(87.1% 0.059 43.61);
  --color-ol-orange-300: oklch(80.91% 0.091 43.72);
  --color-ol-orange-400: oklch(75.79% 0.118 43.92);
  --color-ol-orange-500: oklch(70.29% 0.151 43.1);
  --color-ol-orange-600: oklch(65.56% 0.179 41.56); /* original */
  --color-ol-orange-700: oklch(54.21% 0.159 40.03);
  --color-ol-orange-800: oklch(39.93% 0.112 40.91);
  --color-ol-orange-900: oklch(25.78% 0.064 42.52);
  --color-ol-orange-950: oklch(18.32% 0.039 45.07);

  /*
  --color-ol-brown: oklch(27.997% 0.05557 44.884);
  --color-ol-brown-50: oklch(86.982% 0.04431 46.717);
  --color-ol-brown-100: oklch(83.744% 0.05606 45.117);
  --color-ol-brown-200: oklch(77.693% 0.08007 46.454);
  --color-ol-brown-300: oklch(71.507% 0.10374 45.646);
  --color-ol-brown-400: oklch(65.662% 0.1291 44.868);
  --color-ol-brown-500: oklch(59.583% 0.13915 43.97);
  --color-ol-brown-600: oklch(52.252% 0.1203 43.865);
  --color-ol-brown-700: oklch(44.502% 0.09948 43.993);
  --color-ol-brown-800: oklch(36.55% 0.07917 44.475);
  --color-ol-brown-900: oklch(27.997% 0.05557 44.884);
  --color-ol-brown-950: oklch(21.857% 0.03907 45.571);
  */

  /* Dark mode brand colors */
  --color-dark-liver-dark: #6c655e;
  --color-dark-orange-dark: #d8532d;
  --color-ol-orange-dark: #ff7a42;
  --color-turquoise-dark: #30d2b0;
  --color-ol-gray-dark: #201e1d;
  --color-ol-light-gray-dark: #a59f99;
  --color-ol-brown-dark: #5a2b17;
  --color-gutentag-dark: #e86a5e;

  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

  /* Text sizing */
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --base-unit: 1.5rem;
  --text-width: 22rlh;
  --footnote-width: 15rlh;
  /* Overridden by media queries */
  --figure-wide-overlap: 0;
  --heading-protrude: 0;

  --expand-size: calc(
    var(--base-unit) + var(--figure-wide-overlap) + var(--text-width) +
      var(--base-unit) + var(--footnote-width) + var(--base-unit)
  );
}

.ol-logo {
  color: #201e1d;
  .flask,
  .cactus {
    fill: currentColor;
  }

  .bubble {
    fill: #e76227;
  }
  .logo-text {
    fill: #e76227;
    stroke: black;
  }
}

html.dark .ol-logo {
  color: white;
}

@media (prefers-color-scheme: light) {
  .ol-logo {
    color: #201e1d;
  }
  html.dark .ol-logo {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .ol-logo {
    color: white;
  }

  html:not(.dark) .ol-logo {
    color: #201e1d;
  }
}

/* --------------------------------------------------------------- */
/* Articles + Sidenotes */

#article-container {
  @apply mx-auto w-full max-w-7xl relative;
  display: grid;

  --left-gutter: calc(var(--spacing) * 2);
  --right-gutter: calc(var(--spacing) * 2);
  --left-gutter-max: 1fr;
  --content-width: calc(100% - var(--left-gutter) - var(--right-gutter));

  grid-template-columns:
    minmax(var(--left-gutter), var(--left-gutter-max))
    [content-start] minmax(0, var(--content-width)) [content-end]
    minmax(var(--right-gutter), 1fr);

  @variant sm {
    --left-gutter: calc(var(--spacing) * 4);
    --right-gutter: calc(var(--spacing) * 8);
    --content-width: var(--container-2xl);
  }

  @variant lg {
    @apply px-8;
    --left-gutter: calc(var(--spacing) * 16);
    --right-gutter: calc(var(--spacing) * 8);
    --right-gutter-width: calc(var(--spacing) * 8);

    &:has(.sidenote-column, .aside) {
      /* Extra large gutter for sidenotes */
      --right-gutter: calc(var(--spacing) * 64 + 1rlh);
      --right-gutter-width: calc(var(--spacing) * 64 + 1rlh);
      --left-gutter-max: var(--left-gutter);
    }
  }
  article {
    grid-column: content-start / content-end;
  }
}

@utility sidenote-ref-hover {
  @apply bg-stone-200 dark:bg-stone-800 rounded-xs;
  --sidenote-ref-hover-bg: var(--color-stone-200);
  @variant dark {
    --sidenote-ref-hover-bg: var(--color-stone-400);
  }
  box-shadow: 0 0 0 2px var(--sidenote-ref-hover-bg);
}
@utility sidenote-hover {
  @apply bg-stone-200 dark:bg-stone-800 rounded-xs;
  --sidenote-hover-bg: var(--color-stone-200);
  @variant dark {
    --sidenote-hover-bg: var(--color-stone-400);
  }
  box-shadow: 0 0 0 2px var(--sidenote-hover-bg);
}

.sidenote-targeted {
  @apply sidenote-hover;
}

.sidenote-ref {
  @apply px-1 w-auto h-auto inline-block border-0 bg-transparent m-0 decoration-inherit dark:text-inherit text-inherit dark:text-inherit;
  transition: box-shadow 0.15s ease 0.05s;

  &:hover {
    @apply sidenote-ref-hover;
  }
  sup {
    @apply align-super text-xs font-bold leading-3 lining-nums text-inherit dark:text-inherit top-[0];
  }
}

.sidenote {
  @apply block font-sans text-xs mt-4 bg-stone-100 dark:bg-stone-800 p-2 font-normal w-full;
  transition: box-shadow 0.15s ease 0.05s;

  &:hover {
    @apply sidenote-hover;
  }

  @variant lg {
    @apply w-fit bg-transparent dark:bg-transparent p-1;
  }
  sup {
    @apply top-[0] mr-1;
  }
}
.sidenote-container:has(.sidenote-ref:hover) .sidenote {
  @variant lg {
    @apply sidenote-hover;
  }
}

.sidenote-container:has(.sidenote:hover) .sidenote-ref {
  @variant lg {
    @apply sidenote-ref-hover;
  }
}

.sidenote-container {
  @apply mb-4;

  @variant lg {
    @apply mb-0 relative flex justify-between;
  }
}
.sidenote-main-col *:last-child {
  @apply mb-0;
}
.sidenote-main-col {
  @apply w-full;
}
.sidenote-main-col > ul > li:first-child,
.sidenote-main-col > ol > li:first-child {
  @apply mt-0;
}

.sidenote .sidenote-number {
  @apply font-bold text-xs;
  @variant lg {
    @apply inline-block mr-1;
  }
}

@variant lg {
  .sidenote-gutter-lg {
    --right-gutter-width: calc((var(--container-5xl) / 2) - var(--spacing) * 8);
  }
}

.sidenote-column {
  @variant lg {
    @apply flex-shrink-0;
    --sidenote-boost: 0;
    --sidenote-width: calc(
      var(--right-gutter-width) - 2px + var(--spacing) * var(--sidenote-boost)
    );
    --sidenote-max-width: calc(
      var(--right-gutter-width) - 2px + var(--spacing) * var(--sidenote-boost)
    );
    width: var(--sidenote-width);
    margin-right: calc(-1 * var(--sidenote-max-width));
    margin-top: calc(var(--spacing) * 7);
  }
  @variant xl {
    --sidenote-boost: 16;
    padding-left: calc(var(--spacing) * var(--sidenote-boost));
  }
}

.sidenote:first-child {
  @variant lg {
    @apply mt-1;
  }
}
.sidenotes-layout .markdown-viewer {
  @variant lg {
    @apply pr-[241px];
  }
}
.sidenote:last-of-type {
  @variant lg {
  }
}
.sidenotes-layout h1 {
  @variant lg {
    @apply w-[756px];
  }
}
@keyframes sidenote-pulse {
  0% {
    box-shadow: 0 0 0 15px var(--sidenote-hover-bg);
  }
  100% {
    box-shadow: 0 0 0 2px var(--sidenote-hover-bg);
  }
}

.animate-sidenote {
  animation: sidenote-pulse 0.6s ease-out forwards;
}

.prose {
  a:has(img) {
    @apply whitespace-nowrap;
  }

  a:has(img) img.inline {
    @apply mr-1;
  }
  code {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
  }
  p:has(img.inline) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: 2rem 0;
  }

  p img.inline {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }

  p img.inline:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  }

  /* For better mobile experience */
  @variant sm {
    p:has(img.inline) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 0.75rem;
      padding: 0.75rem;
    }
  }

  figure {
    text-align: center;
    img {
      display: inline-block;
    }
  }
}
