---
name: CI
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref || github.run_id }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  pull_request:
    from-branches-ignore:
      - renovate/**
  merge_group:
  push:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@v3
      - uses: DeterminateSystems/flake-checker-action@v12
      - run: nix flake check --accept-flake-config
      - run: nix develop #devShells.x86_64-linux.ci --command -- bb ci
      - run: nix build .
  deploy:
    runs-on: ubuntu-latest
    needs: check
    environment: james
    concurrency: james
    permissions:
      id-token: write
      contents: read
      packages: write
    if: |
      (github.ref == 'refs/heads/main' &&
      !contains(github.event.head_commit.message , 'no-deploy'))
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          use-cache: "true"
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:site-caseylink
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Deploy
        run: |
          printf '%s' '${{ secrets.LOCAL_KEY }}' > $PWD/sign-key.sec
          export LOCAL_KEY=$PWD/sign-key.sec
          nix develop .#devShells.x86_64-linux.ci --command -- deploy --debug-logs --skip-checks .#main
      - name: Cleanup
        if: always()
        run: |
          rm -f $PWD/sign-key.sec
